/* Name: Bill Daniels
File: Assignment #3 Part 1
Date: 23-02-2026
Description: Styling a biography page
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

/*
Box Style
*/

body{
    padding: 28px;
    width: 500px;
    background-color: #efefef;
    margin: 0, auto;
}

ul{
    background-color: white;
    border: 5px solid purple;
    border-radius: 20px;
    padding: 30px;
}

/*
Font Style
*/
h1{
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}

h2{
    font: italic;
    font-size: 1.5rem;
}

div{
    color: darkslategray;
    font-weight: bold;
}

/*
Link Style
*/
a{
    color: green;
}

a:hover,
a:focus{
    color: darkgreen;
    text-decoration: none;
}